/*for desktop*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/*navbar start here*/

.nav-logo{
    text-align: left;
}
.nav-heading h1{
    text-align: right end;
    align-content: flex-end;
    padding-top: 18px;

}
.navbar-menu{
    padding-top: 19spx;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
}
/*navbar close here*/
 
/*profile starts from here*/
.dotted-hr{
    border: dotted 5px white;
    border-bottom: none;
    width: 5%;
    margin: 20PX auto;

}
.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
/*profile ends here*/
/*education start here*/
.education{
    text-align: center;
}
/*education ends here*/

/*about me start here*/
.aboutme-image{
    margin-top: 0px;
}
.aboutme-image img{
    height: 270px;
    width: 250px;
}
/*about me end here*/

/* achievement contact start here*/
.contact button{
    width: 150px;
}
.contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 60%;
    top: 70%;
    transform: translate(-70%,-70%);
}
/* achievement contact start here*/

/* footer starts from here  */
.footer-menu{
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    margin: 10px;
    
}
/* footer ends here  */
© 2022 GitHub, Inc.
Term